.stopka{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

body{
    background-color: #ffffff;
}

footer{
    display: flex;
    justify-content: space-evenly;
}

.kontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 5px;
    margin-top: 15px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.photo{
    transition: ease 0.7s;
    margin-top: 1.2rem;
}