.stopka{
    display: flex;
    /* background-color: blue; */
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.socials-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body{
    background-color: rgb(230, 230, 230);
}

footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.footer{
    display: flex;
    justify-content: center;
}

.photo{
    transition: ease 0.7s;
    margin-top: 1rem;
}

.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clearfix{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}